:root {
    --white: #FFFFFF;
    --olive:  #495E57;
    --yellow: #F4CE14;
}

body {
    justify-self: center;
    max-width: 2048px;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: var(--olive);
}

a:active {
    color: black;
}

p {
    color: var(--olive)
}

nav {
    background-color: var(--white);
    padding: 0;
    margin-bottom: -1rem;
}

nav > ul > li {
    font-size: calc(1rem + .5vw);
    margin: auto 5%;
    width: 50%;
    display: flex;
}

.banner {
    margin: 0;
    min-height: 400px;
}

.banner > div {
    width: 100%;
}

.banner-item {
    margin: auto 4vw;
    align-self: flex-end;
    font-size: calc(2rem + 2vw);
}

.article-img {
    height: 250px;
    width: 250px;
    border-radius: 100em;
    align-self: center;
}

.footerimg {
    max-height: 150px;
}

footer {
    padding: 15px;
}

.banner-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(../Assets/Images/Food_Banner2.png);
    background-size: cover;
    color: var(--white);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--olive);
}

.articles > article {
    min-width: 300px;
    max-width: 650px;
    margin: 1vh auto; 
    min-height: 500px;
    padding: 2vw;
}